* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #fafafa;
  font-family: "Kumbh Sans", sans-serif;
}

.header {
  height: 100vh;
}

.header-background {
  background: url("../assets/home/bg-pattern-header.svg") no-repeat;
  background-size: 130%;
  height: 100%;
  width: 100%;
  position: absolute;
  top: -40%;
  left: 0;
  background-position: 50% 50%;
}

.logo {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.header-img img {
  display: block;
  width: 50%;
  height: 40%;
  margin: 110px auto;
}

.header-text h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: #333950;
  padding: 0 10%;
}

.header-text p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #747b95;
  padding: 0 10%;
  margin-top: 20px;
  font-family: Kumbh Sans;
}

.header-btn {
  margin-top: 24px;
}
.header-btn button {
  display: block;
  margin: 0 auto;
  background: #5175ff;
  box-shadow: 0px 25px 25px -10px rgba(63, 91, 194, 0.247159);
  border-radius: 40px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: #ffffff;
  border: none;
  padding: 25px 60px;
}

.tablet-pricing-container {
  display: none;
}

.pricing-container {
  margin-top: 150px;
  padding: 0 5%;
  width: 100%;
  position: absolute;
  top: 850px;
}

.pricing-basic {
  background: #ffffff;
  box-shadow: 0px 50px 50px -25px rgba(75, 92, 154, 0.247159);
  border-radius: 13px;
  padding: 30px 20px;
  text-align: center;
  margin-bottom: 30px;
}

.pricing-basic h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: #333950;
  margin-bottom: 50px;
}

.pricing-basic h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 28px;
  color: #333950;
  margin-bottom: 30px;
}

.pricing-basic p:first-of-type {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #333950;
  margin-bottom: 50px;
}

.pricing-basic p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #747b95;
  margin-bottom: 30px;
}

.pricing-basic button {
  background: #5175ff15;
  border-radius: 28px;
  border-radius: 40px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: #5175ff;
  border: none;
  padding: 25px 60px;
}

.pricing-pro {
  background-color: #5175ff;
  background-image: url("../assets/home/Union.svg");
  background-position: 50% 50%;
  background-size: 250%;
  box-shadow: 0px 50px 50px -25px rgba(75, 92, 154, 0.247159);
  border-radius: 13px;
  padding: 30px 20px;
  text-align: center;
  margin-bottom: 30px;
}

.pricing-pro h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: #fff;
  margin-bottom: 50px;
}

.pricing-pro h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 28px;
  color: #fff;
  margin-bottom: 30px;
}

.pricing-pro p:first-of-type {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #fff;
  margin-bottom: 50px;
}

.pricing-pro p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #fff;
  margin-bottom: 30px;
}

.pricing-pro button {
  background: #fff;
  border-radius: 28px;
  border-radius: 40px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: #5175ff;
  border: none;
  padding: 25px 60px;
}

.pricing-ultimate {
  background: #ffffff;
  box-shadow: 0px 50px 50px -25px rgba(75, 92, 154, 0.247159);
  border-radius: 13px;
  padding: 30px 20px;
  text-align: center;
  margin-bottom: 30px;
}

.pricing-ultimate h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: #333950;
  margin-bottom: 50px;
}

.pricing-ultimate h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 28px;
  color: #333950;
  margin-bottom: 30px;
}

.pricing-ultimate p:first-of-type {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #333950;
  margin-bottom: 50px;
}

.pricing-ultimate p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #747b95;
  margin-bottom: 30px;
}

.pricing-ultimate button {
  background: #5175ff15;

  border-radius: 28px;
  border-radius: 40px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: #5175ff;
  border: none;
  padding: 25px 60px;
}

.footer {
  background-color: #25293a;
  background-image: url("../assets/home/bg-pattern-footer.svg");
  background-size: 350%;
  height: 1248px;
  background-position: 50% 50%;
  padding: 800px 0 100px 0;
  margin-top: 920px;
}

.count-down-countainer {
  padding: 5% 10%;
  margin-bottom: 50px;
  margin-top: 50px;
}

.count-down-date {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.count-down-date p {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 48px;
  letter-spacing: 5px;
  color: #ffffff;
  padding-right: 10px;
}

.count-down-date .day {
  font-weight: 700;
  font-size: 16px;
  line-height: 48px;
  letter-spacing: 5px;
  padding-right: 5px;
  color: #5175ff;
}

.count-down-date .month {
  font-weight: 700;
  font-size: 16px;
  line-height: 48px;
  letter-spacing: 5px;
  padding-right: 5px;
  color: #5175ff;
}

.count-down-date .year {
  font-weight: 700;
  font-size: 16px;
  line-height: 48px;
  letter-spacing: 5px;
  padding-right: 4px;
  color: #5175ff;
}

.count-down-counter-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.counts {
  margin-right: 10px;
  background: #333950;
  border-radius: 4px;
  padding: 10px 20px;
}

.counts h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  color: #ffffff;
}

.counts p {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 28px;
  text-align: center;
  color: #ffffff;
  opacity: 0.5;
}

.footer-button button {
  display: block;
  margin: 0 auto;
  background: #5175ff;
  box-shadow: 0px 25px 25px -10px rgba(63, 91, 194, 0.247159);
  border-radius: 40px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: #ffffff;
  border: none;
  padding: 25px 60px;
}

/* MEDIA QUERY FOR TABLET */

@media only screen and (min-width: 768px) {
  .header-background {
    background: url("../assets/home/bg-pattern-header.svg") no-repeat;
    background-size: 130%;
    position: absolute;
    top: -40%;
    right: -900px;
    background-position: -150% 50%;
  }

  .logo {
    margin: 70px 0 0 40px;
    display: block;
  }

  .header-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 5%;
    margin-top: 70px;
  }

  .header-text {
    order: 0;
    width: 50%;
    /* background: red; */
  }

  .header-text h1 {
    text-align: left;
    color: #333950;
    padding: 0 0;
    width: 95%;
  }

  .header-text p {
    width: 95%;
    text-align: left;
    padding: 0 0%;
    margin-top: 20px;
  }

  .header-btn button {
    margin-left: 0px;
    display: block;
  }

  .header-img {
    order: 1;
    width: 50%;
  }

  .header-img img {
    height: 100%;
    width: 100%;
    margin: 20px 10px;
  }

  .pricing-container {
    display: none;
  }

  .tablet-pricing-container {
    display: block;
    margin-top: 350px;
    padding: 0 5%;
    width: 100%;
    position: absolute;
    top: 350px;
  }

  .tablet-pricing-basic {
    background: #ffffff;
    box-shadow: 0px 50px 50px -25px rgba(75, 92, 154, 0.247159);
    border-radius: 13px;
    padding: 50px 40px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .tablet-pricing-basic-left h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #333950;
    margin-bottom: 40px;
  }

  .tablet-pricing-basic-left h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 28px;
    color: #333950;
    margin-bottom: 30px;
  }

  .tablet-pricing-basic-left p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #333950;
    margin-bottom: 30px;
  }

  .tablet-pricing-basic-left button {
    background: #5175ff15;
    border-radius: 28px;
    border-radius: 40px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #5175ff;
    border: none;
    padding: 20px 60px;
  }

  .tablet-pricing-basic-right p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #747b95;
    margin-bottom: 30px;
  }

  .tablet-pricing-pro {
    background-color: #5175ff;
    box-shadow: 0px 50px 50px -25px rgba(75, 92, 154, 0.247159);
    border-radius: 13px;
    padding: 50px 40px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .tablet-pricing-pro-left h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #fff;
    margin-bottom: 40px;
  }

  .tablet-pricing-pro-left h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 28px;
    color: #fff;
    margin-bottom: 30px;
  }

  .tablet-pricing-pro-left p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #fff;
    margin-bottom: 30px;
  }

  .tablet-pricing-pro-left button {
    background: #fff;
    border-radius: 28px;
    border-radius: 40px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #5175ff;
    border: none;
    padding: 20px 60px;
  }

  .tablet-pricing-pro-right p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #fff;
    margin-bottom: 30px;
  }

  .tablet-pricing-ultimate {
    background: #ffffff;
    box-shadow: 0px 50px 50px -25px rgba(75, 92, 154, 0.247159);
    border-radius: 13px;
    padding: 50px 40px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .tablet-pricing-ultimate-left h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #333950;
    margin-bottom: 40px;
  }

  .tablet-pricing-ultimate-left h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 28px;
    color: #333950;
    margin-bottom: 30px;
  }

  .tablet-pricing-ultimate-left p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #333950;
    margin-bottom: 30px;
  }

  .tablet-pricing-ultimate-left button {
    background: #5175ff15;
    border-radius: 28px;
    border-radius: 40px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #5175ff;
    border: none;
    padding: 20px 60px;
  }
  .tablet-pricing-ultimate-right p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #747b95;
    margin-bottom: 30px;
  }

  .footer {
   background-color: #25293a;
  background-image: url("../assets/home/bg-pattern-footer.svg");
  background-size: 350%;
  height: 986px;
  background-position: 50% 50%;
  /* padding: 800px 0 100px 0; */
  padding: 500px 0 100px 0;
  margin-top: 150px;
  }

  .count-down-countainer {
  padding: 5% 10%;
  margin-bottom: 60px;
  margin-top: 60px;
}
}
